<!DOCTYPE html>
{% include 'base.html' %}


{% block content %}


<div class="container-fluid">
    <div class="row" style="margin-top: 8rem;">
        <div class="col"></div>
        <div class="col-8" style="background-color: #C9C9C9;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="{{ prod.prod_image.url }}" alt="Product Image" class="img-fluid" style="margin-top: .5rem;">
                    </div>
                    <div class="col">
                        <h1 style="font-weight: 600; font-size: 3rem;"> {{ prod.prod_name }} </h1>
                        <hr>
                        <h2 style="color: goldenrod;"> ৳ {{ prod.prod_price }} </h2>

                        <p> {{ prod.prod_desc }} </p>
                    </div>
                    <div class="col">
                        <form action="{% url 'cartOrderApp:addToCart' %}" method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <input type="hidden" class="form-control" id="prod_id" name="prod_id"
                                       value="{{ prod.pk }}">
                            </div>
                            <div class="mb-3">
                                <input type="hidden" class="form-control" id="cart_id" name="cart_id"
                                       value="{{ cart.cart_id }}">
                            </div>
                            <div class="mb-3 d-flex justify-content-center">
                                <div class="container">
                                    <div class="row text-center">
                                        <label for="prod_quantity" class="form-label" style="font-size: 2rem;">Quantity</label>
                                    </div>
                                    <div class="row d-flex justify-content-center mt-4">
                                        <input type="number" class="form-control" id="prod_quantity" name="prod_quantity"
                                               min="1" max="10" value="1" style="width: 15rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 d-flex justify-content-center mt-5">
                                <button type="submit" class="btn btn-lg p-3 fw-bold" style="background-color: goldenrod;">Add to cart</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="col"></div>
    </div>
</div>




{% endblock %}
