<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSLCommerz Status</title>
</head>
<body>
    <div class="container">
        <div class="messages container mt-2">
            {% if messages %}
                {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>